<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Return to Tunguska &#9760</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/main.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap-theme.min.css")">
    <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")"></script>
    <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.versioned("lib/angularjs/angular.js")"></script>
    <script src="@routes.Assets.versioned("lib/angular-toastr/angular-toastr.js")"></script>
    <script src="@routes.Assets.versioned("lib/angular-ui-bootstrap/ui-bootstrap.js")"></script>
    <script src="@routes.Assets.versioned("lib/angular-ui-router/angular-ui-router.js")"></script>
    <script src="@routes.Assets.versioned("js/app.js")"></script>
</head>
<body>
    @views.html.navbar()
</body>
</html>