<div class="container">
    <h2>Summary</h2>
    <ul>
        <li>Electronics and Communications Engineer.</li>
        <li>1.5 years working as systems engineer for General Motors and 2.5+ years working as a contractor for General Motors designing and building apps.</li>
        <li>10+ applications successfully published on the Apple AppStore.</li>
        <li>1 Application published on Google Play.</li>
        <li>Architected and implemented new version of the VSMS portal UI which is a key enabler for several programs such as RemoteLink (use your phone to remote start your GM car), data collection and Remote Reflash.</li>
    </ul>

    <h2>Technologies & programming languages</h2>

    <p>
    Bit manipulation, TCP, UDP, HTTP, REST, WebSockets, HTML, XML, JSON
    Akka Framework, Akka Cluster, Anorm, Play Framework, Angular JS
    Java, Objective C, Scala, Javascript, CSS, C, basic Swift
    IntelliJ, XCode, sbt, ssh, scp
    Mac OS X, Linux, Windows 7
    </p>

    <h2>Experience</h2>

    <h4>05/2014 - Present → General Motors LLC, Detroit, MI</h4>
    <h5>Systems Engineer, Advanced Development and Concepts</h5>
    <ul>
        <li>Manager: Hassan Elnajjar</li>
        <li>Bluetooth Low Energy related projects.</li>
        <li>Mobile Development on iOS and Android.</li>
    </ul>

    <h4>05/2014 - 07/2015 → General Motors LLC, Detroit, MI</h4>
    <h5>Systems Engineer, Advanced Development and Concepts</h5>
    <ul>
        <li>Manager: Ganesh Srinivasan</li>
        <li>UI and backend design + development of the new VSMS (Vehicle Services Management System) platform which is used for Remote Reflash, Fleet management and other programs.</li>
        <li>Vehicle Asset Tracker concept for GM Plants & Dealerships leveraging the OnStar 4GLTE module to replace the manual process of walking to the plants and dealership yards to keep track of the inventory.</li>
        <li>Real Time analytics dashboard for Akka applications (proof of concept)</li>
        <li>Design and implementation of the new Artifact Service Cluster which is going to be deployed in GM data centers.</li>
        <li>Integration testing using  Specs2 + WebDriver + sbt: tests are designed to run in both Chrome and Firefox.</li>
    </ul>

    <h4>02/2013 – 05/2014 → General Motors OnStar, Smart Grid Team (Contract), Detroit, MI</h4>
    <h5>Senior Mobile App Developer</h5>
    <ul>
        <li>Manager: Paul Pebbles</li>
        <li>
            <a href="http://www.slashgear.com/corvette-stingray-turns-google-glass-into-driver-info-hud-05311099" target="_blank">
                Google Glass performance app concept.
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=3BW-IW_rqz4" target="_blank">
                Samsung Gear 2 RemoteLink concept.(HTML5 + Java)
            </a>
        </li>
        <li>Javascript/HTML5/CSS3 development for in-vehicle apps.</li>
        <li>Komodo CAN interface development for communication with the vehicle.</li>
        <li>
            <a href="http://www.youtube.com/watch?v=1J9LtRh1Eyg" target="_blank">
                EcoHub POC
            </a>
        </li>
    </ul>
    <h4>08/2011 – 02/2013 → General Motors OnStar, RemoteLink Team (Contract), Detroit, MI </h4>
    <h5>iOS Senior Developer</h5>
    <ul>
        <li>Manager: Steve Ross</li>
        <li>
            <a href="https://itunes.apple.com/us/app/onstar-remotelink/id393584149?l=en&mt=8" target="_blank">
                <img class="clamperaIcon" src="@routes.Assets.versioned("images/RemoteLink.png")">
                RemoteLink for iOS
            </a>
        </li>
        <li>Transformed product owner requirements into stories and tasks (SCRUM).</li>
        <li>iOS Development.</li>
        <li>Blackberry HTML5 Development.</li>
        <li>iOS app automated testing using Instruments.</li>
        <li>Designed the continuous integration process for RemoteLink using Jenkins.</li>
        <li>Manager: Steve Ross</li>
    </ul>

    <h4>07/2010 – 03/2011 → Ironbit, Mexico City</h4>
    <h5>iOS Lead Developer</h5>
    <ul>
        <li>Responsible for a team of 5 developers.</li>
        <li>Designed the Architecture of each App and the layout of the REST webservices (XML and JSON).</li>
        <li>Worked with the PM to design each project cycle using SCRUM methodology.</li>
        <li>Maintained the code repository (Subversion).</li>
        <li>Mentored junior iOS developers.</li>
        <li>Guaranteed best programming practices in terms of: memory management, security, network data consumption, GPS battery consumption and overall performance.</li>
        <li>Negotiated with Apple engineers regarding content issues.</li>
    </ul>

    <h4>03/2010 – 07/2010 → Grupo Salinas, Mexico City</h4>
    <h5>iOS Lead Developer</h5>
    <ul>
        <li>Developed the iPhone native version of the most important system for collection and sales.</li>
        <li>This new system was created to substitute the old HP handheld devices.</li>
        <li>Held weekly business meetings with the collection manager for Mexico and Latin America: Mario Gordillo Rincón.</li>
    </ul>

    <h4>07/2009 – 03/2010 → Grupo Salinas, Mexico City</h4>
    <h5>Developer</h5>
    <ul>
        <li>Designed and implemented a system to monitor the principal business indicators of Grupo Salinas in Mexico and Latin America.</li>
        <li>Designed graphics for the application.</li>
    </ul>

    <h4>04/2009 – 07/2009 → Ixaya, Leon Gto, Mexico</h4>
    <h5> Mac OSX Developer</h5>
    <ul>
        <li>As Mac OSX Developer I designed a framework to interact with gas stations and gas pumps using Apple Foundation framework and termios standard C library.</li>
        <li>Designed and implemented a monitoring system for several gas station tanks and gas pumps using Mac OS X.</li>
        <li>Every hour, sent a RSA-encrypted report with the sales and inventory to PEMEX.</li>
    </ul>

    <h2>Personal iOS App:</h2>

    <p>

        <a href="https://itunes.apple.com/us/app/clapmera-take-pictures-by/id519363613?mt=8" target="_blank">
            <img class="clamperaIcon" src="@routes.Assets.versioned("images/clapmera.png")">
            <b>Clapmera</b>
        </a>
    </p>

    <h2>EDUCATION</h2>
    <p>
        <b>Bachelor's Degree in Electronics and Communications Engineering → </b>
        <a href="http://leon.uia.mx" target="_blank">
            <b>Universidad Iberoamericana, Leon Gto, Mexico</b>
        </a>
    </p>

    <h2>COURSES</h2>
    <ul>
        <li>
            <a href="https://www.coursera.org/signature/certificate/5JKVM9US76" target="_blank">
                <b>Functional Programming Principles in Scala</b>
            </a>
            → École Polytechnique Fédérale de Lausanne, Coursera.
        </li>
        <li>
            <a href="https://www.coursera.org/signature/certificate/KRED53TQHE" target="_blank">
                <b>An Introduction to Marketing</b>
            </a>
            → Wharton School of the University of Pennsylvania, Coursera.
        </li>
        <li>

            <a href="https://www.coursera.org/account/accomplishments/verify/KDW5K3QTZV" target="_blank">
                <b>Principles of Reactive Programming</b>
            </a>
            → École Polytechnique Fédérale de Lausanne, Coursera.
        </li>

    </ul>

















</div>